.hero-section {
    position: relative;
    height: 500px; 
    background: url('assets/images/el_nido_1.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 48px; 
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-section p {
    font-size: 20px;
    margin-top: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


.activity-section {
    margin-top: 40px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}
